# editors
.vscode

# figure res
*.svg
*.pdf
*.png
*.jpg

# compressed packages
*.tar.gz
*.7z
*.zip
*.tar.bz2

# ignore result figs and tables
*fig_res/
*.csv
*.txt

# ignore params
dropped_attention_params

#python
__pycache__/

#results
cached_dev_optim-val-3bits_384
cached_dev_roberta-base-squad-v1_320
cached_dev_roberta-base-squad-v1_384
cached_train_roberta-base-squad-v1_320
cached_train_roberta-base-squad-v1_384
runs/
squad/
